body{
    margin: 10px;
    padding:0;
    background: #333;
}

.container{
    max-width: 760px;
    margin: auto;
    border: #fff solid 3px;
    background: #fff;
}

.main-img{
    position:sticky !important; 
    position: -webkit-sticky- !important;
    top: 0 !important;
    z-index: 10;
}

.main-img img, .imgs img{
    width: 100%;
}

.main-img img{
    height: 500px;
}

.imgs img{
    height: 150px;
}

.imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}